.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list li {
  margin-right: 1rem;
}

.navbar-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-list li a:hover {
  text-decoration: underline;
}

.navbar-list li button {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-list li button:hover {
  text-decoration: underline;
}
