.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
  }
  
  .error {
    color: red;
    background-color: #fdd;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
  }

  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  